[Unit]
Description=Simple IRC notifier
After=syslog.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/IRCNotificationBot/bin
ExecStart=/opt/IRCNotificationBot/bin/watchdog.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=default.target
