[Unit]
Description=Simple IRC notifier
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/opt/IRCNotificationBot/src
ExecStart=/opt/IRCNotificationBot/src/watchdog.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
