[Unit]
Description=Simple IRC notifier for one channel
After=syslog.target

[Service]
Type=simple
ExecStart=/opt/IRCNotificationBot/watchdog.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
